@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Be Vietnam Pro', sans-serif;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.308);
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.13);
}

.navbar .menu{
    font-size: 45px;
    margin-right: 12px;
    transition: 0.5s all;
    display: flex;
    gap: 1em;
}

.cardbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cardbox .card{
    width: 350px;
    overflow: hidden;
    box-shadow: 1px 2px 8px rgba(48, 48, 48, 0.418);
    padding: 20px;
    margin: 25px;
}
.cardbox .card h1{
    text-transform: uppercase;
    color: rgba(0, 0, 24, 0.795);
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 8px;
    margin-bottom: 8px;
}
.cardbox .card .description  p{
    text-align: justify;
    color: rgba(0, 0, 24, 0.795);
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 0.95rem;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.cardbox .card:hover{
    box-shadow: 0 0 0 rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.11);
}
.cardbox .card .img img{
    width: 100%;
    height: auto;
    transition: 0.5s all;
}
.cardbox .card .img img:hover{
    transform: scale(1.2) translateY(-15px);
}
.cardbox .card .img{
    display: flex;
    justify-content: center;
}

.cardbox .card .btn{
    background-color: rgb(0, 70, 70);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    transition: 0.3s all;
    color: #fff;
    cursor: pointer;
}
.cardbox .card .btn a {
    text-decoration: none;
    color: #fff;
}
.cardbox .card .btn:hover{
    background-color: rgb(0, 95, 95);
    letter-spacing: 1.01px;
}

.searchbox{
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.searchbox input{
    outline-style: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(19, 0, 0);
    min-width: 300px;
}
.searchbox input::placeholder{
    color: rgb(71, 0, 14);
    font-size: 15px;
}
.loader{
    height: 100vh;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loading 0.8s infinite ease-in;
    overflow: hidden;
}

@keyframes loading {
    to{
        transform: rotate(360deg);
    }
}